@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-family: monospace;
  }

  body {
    background-color: #f0efeb;
    overflow: hidden;
  }

  .container {
    /* inline-size: 95%;
    margin: auto; */
    width: 95vw;
    height: 95vh;
    margin: 40px;
    overflow: hidden;
  }

  .scrollbar-w-none {
    scrollbar-width: none;
  }
}
